battery {
    .wapper{
        display: inline-block;
        .outline{
            .badeg{
                width: 2px;
                height: 3px;
                right: -2px;
                top: 8px;
                margin-top: -50%;
                background-color: rgb(0, 245, 0);
                position: absolute;
            }
            position: relative;
            width: 15px;
            height: 9px;
            padding: 1px;
            border: 1px solid #00f500;
            border-radius: 2px;
            .value{
                height: 100%;
                max-width: 100%;
                background-color: rgb(0, 245, 0);
            }
        }
    }
}
