<ion-tabs #tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home" mode="ios"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps" mode="md"></ion-icon>
      <ion-label>应用</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        
      </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="list-box" mode="ios"></ion-icon>
      <ion-label>消息</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person" mode="md"></ion-icon>
      <ion-label>我</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<ion-button color="" clear class="scan-btn" (click)="selectScan()"><img src="assets/img/scan.png" /></ion-button>
